<div id="Form-Button_holder">
    <br />
    <button class="btn" type="button" data-bind="click: handler.ReloadFromServer">
        Reset</button>
    <button class="btn btn-primary" type="button" data-bind="click: handler.Save" id="btnhandler.Save">
        Finish
    </button>
</div>
