<form class="form-horizontal">  
               
    @Helpers.Input("Result", "Result", "required digits", "text", 50)
    @Helpers.TextArea("Comment", "Comment", "required", "text", 50, 5, false)
</form>