<form class="form-horizontal">    
    @Helpers.Select("ClassRoom", "Class Room", "ClassRooms()", "ClassRoomGuid", 52)
    @Helpers.Select("Subject", "Subject", "Subjects()", "SubjectTeacherClassRoomGuid", 52)
    @Helpers.Input("Group Name", "GroupName1", "required", "text", 50)   
</form>