<form class="form-horizontal">
    @Helpers.Select("ClassRoomSubject", "Class Room and Subject", "ClassRoomSubjects()", "GroupWorkGuid", 52)                
    @Helpers.Input("Result", "Result", "required digits", "text", 50)
    @Helpers.TextArea("Comment", "Comment", "required", "text", 50, 5, false)
</form>