<form class="form-horizontal">
    @Helpers.Select("Teacher", "Teachers()", "TeacherGuid", 50)    
    @Helpers.Select("ClassRoom", "Class Room", "ClassRooms()", "SubjectTeacherClassRoomGuid", 50) 
    @Helpers.Select("Day", "Days()", "DayGuid", 50) 
    @Helpers.Select("Period", "Periods()", "PeriodGuid", 50)  
</form>