<form class="form-horizontal">
    @Helpers.Select("Month", "Month", "Months()", "MonthGuid", 52)
    @Helpers.Date("Regular Payment Date From", "RegularPaymentDateFrom", "required")
    @Helpers.Date("Regular Payment Date To", "RegularPaymentDateTo","required")
</form>