<form class="form-horizontal"> 
    @Helpers.Select("Teacher Name", "Teachers()", "TeacherGuid", 50) 
    @Helpers.Select("Month", "Months()", "MonthGuid", 50)   
    @Helpers.Date("Recieve Date", "RecieveDate", "required")  
</form>