<form class="form-horizontal">     
    @Helpers.Select("ClassRoom", "Class Room", "ClassRooms()", "TestGuid", 50)     
    @Helpers.Select("Test", "Test", "Tests()", "TestGuid", "disabled", 50)        
    @Helpers.Input("Result", "Result", "required digits", "text", 47)
    @Helpers.TextArea("Comment", "Comment", "required", "text", 47, 5, false)
</form>