<div role="tabpanel" class="col-sm-12 tab-pane" id="tabnews">

    <div class="field field--name-dynamic-block-fieldnode-news-block field--type-ds field--label-hidden field--item">
        <div class="views-element-container form-group">
            <div class="standard-list view view-list-news view-id-list_news view-display-id-view_news_block js-view-dom-id-0537a3686c8363e4c5b0bae505367f81c1a82bd13f8a3da97c349d5a9a555093">


                <div class="view-header">
                    Keep up with what's happening in Young Lives Ethiopia
                </div>

                <div class="view-content">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="views-row">
                                <div class="views-field views-field-nothing">
                                    <span class="field-content">
                                        <a href="/news/children-and-youth-facing-violence-africa-what-do-we-know-what-can-we-do">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-4 col-lg-4">
                                                    <img src="/sites/www.younglives-ethiopia.org/files/styles/navigation_image_200_260/public/news/Screen%20Shot%202018-09-17%20at%208.53.31%20AM.png?itok=lxmkj5We" width="200" height="260" alt="Children and youth facing violence in Africa" typeof="Image" class="img-responsive" />


                                                </div>
                                                <div class="col-xs-12 col-md-8 col-lg-8"><div class="title">Children and Youth Facing Violence in Africa: what do we know? What can we do? </div><div class="views-tab-date">17 Sep</div></div>
                                            </div>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="views-row">
                                <div class="views-field views-field-nothing">
                                    <span class="field-content">
                                        <a href="/node/830">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-4 col-lg-4">
                                                    <img src="/sites/www.younglives-ethiopia.org/files/styles/navigation_image_200_260/public/YL-Conference%2520%252889%2529_0.JPG?itok=hoYgd4wo" width="200" height="260" alt="" typeof="Image" class="img-responsive" />


                                                </div>
                                                <div class="col-xs-12 col-md-8 col-lg-8"><div class="title">Young Lives child poverty conference captures &#039;the story of the first part of this century&#039;</div><div class="views-tab-date">13 Aug</div></div>
                                            </div>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="views-row">
                                <div class="views-field views-field-nothing">
                                    <span class="field-content">
                                        <a href="/news/save-date-young-lives-school-survey-findings-launch-september-2017">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-4 col-lg-4">
                                                    <img src="/sites/www.younglives-ethiopia.org/files/styles/navigation_image_200_260/public/news/Save_the_date.png?itok=rroveaza" width="200" height="260" alt="girls" typeof="Image" class="img-responsive" />


                                                </div>
                                                <div class="col-xs-12 col-md-8 col-lg-8"><div class="title">Save the Date: Young Lives School Survey Findings Launch, September 2017</div><div class="views-tab-date">30 May</div></div>
                                            </div>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
