<div class="tabs-content-container-wrapper">
    <div class="tabs-content container">
        <div class="row landing-tabs tab-content">
            <div role="tabpanel" class="col-sm-12 tab-pane active" id="tabblogs">

                <div class="field field--name-dynamic-block-fieldnode-blogs-block field--type-ds field--label-hidden field--item">
                    <div class="views-element-container form-group">
                        <div class="standard-list view view-list-blogs view-id-list_blogs view-display-id-blogs_block js-view-dom-id-c1ed6270663783391ce4a08d1170fa64d90be5cc5ea6685d95e99f2751dd369e">


                            <div class="view-header">
                                Young Lives Ethiopia blog
                            </div>

                            <div class="view-content">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="views-row">
                                            <div class="views-field views-field-nothing">
                                                <span class="field-content">
                                                    <a href="/node/831">
                                                        <div class="row">
                                                            <div class="col-xs-12 col-md-4 col-lg-4">
                                                                <img src="/sites/www.younglives-ethiopia.org/files/styles/navigation_image_200_260/public/Comp%25201%2520%25280-02-40-24%2529_0_4.jpg?itok=7SnEhWqT" width="200" height="260" alt="" typeof="Image" class="img-responsive" />


                                                            </div>
                                                            <div class="col-xs-12 col-md-8 col-lg-8"><div class="title">The Young Lives animation: Tracing the consequences of child poverty </div><div class="views-tab-date">13 Aug</div></div>
                                                        </div>
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="views-row">
                                            <div class="views-field views-field-nothing">
                                                <span class="field-content">
                                                    <a href="/node/829">
                                                        <div class="row">
                                                            <div class="col-xs-12 col-md-4 col-lg-4">
                                                                <img src="/sites/www.younglives-ethiopia.org/files/styles/navigation_image_200_260/public/YMPS%2520logo%25201_0.png?itok=UuKirb6g" width="200" height="260" alt="" typeof="Image" class="img-responsive" />


                                                            </div>
                                                            <div class="col-xs-12 col-md-8 col-lg-8"><div class="title">The Young Marriage and Parenthood Study (YMAPS) – One Year On</div><div class="views-tab-date">8 Aug</div></div>
                                                        </div>
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="views-row">
                                            <div class="views-field views-field-nothing">
                                                <span class="field-content">
                                                    <a href="/node/828">
                                                        <div class="row">
                                                            <div class="col-xs-12 col-md-4 col-lg-4">
                                                                <img src="/sites/www.younglives-ethiopia.org/files/styles/navigation_image_200_260/public/YMPS%2520logo%25201_3.png?itok=eoYih8ri" width="200" height="260" alt="" typeof="Image" class="img-responsive" />


                                                            </div>
                                                            <div class="col-xs-12 col-md-8 col-lg-8"><div class="title">The Young Marriage and Parenthood Study (YMAPS) – One Year On</div><div class="views-tab-date">8 Aug</div></div>
                                                        </div>
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="view-footer">
                                <a class="btn" href="/node/187">All blogs &gt;</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
            <div role="tabpanel" class="col-sm-12 tab-pane" id="tabnews">

                <div class="field field--name-dynamic-block-fieldnode-news-block field--type-ds field--label-hidden field--item">
                    <div class="views-element-container form-group">
                        <div class="standard-list view view-list-news view-id-list_news view-display-id-view_news_block js-view-dom-id-ae4113ad5dc64c728c7c4d0a3649edccf315cd19497058b0002defa80ad2bfea">


                            <div class="view-header">
                                Keep up with what's happening in Young Lives Ethiopia
                            </div>

                            <div class="view-content">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="views-row">
                                            <div class="views-field views-field-nothing">
                                                <span class="field-content">
                                                    <a href="/node/830">
                                                        <div class="row">
                                                            <div class="col-xs-12 col-md-4 col-lg-4">
                                                                <img src="/sites/www.younglives-ethiopia.org/files/styles/navigation_image_200_260/public/YL-Conference%2520%252889%2529_0.JPG?itok=hoYgd4wo" width="200" height="260" alt="" typeof="Image" class="img-responsive" />


                                                            </div>
                                                            <div class="col-xs-12 col-md-8 col-lg-8"><div class="title">Young Lives child poverty conference captures &#039;the story of the first part of this century&#039;</div><div class="views-tab-date">13 Aug</div></div>
                                                        </div>
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="views-row">
                                            <div class="views-field views-field-nothing">
                                                <span class="field-content">
                                                    <a href="/news/save-date-young-lives-school-survey-findings-launch-september-2017">
                                                        <div class="row">
                                                            <div class="col-xs-12 col-md-4 col-lg-4">
                                                                <img src="/sites/www.younglives-ethiopia.org/files/styles/navigation_image_200_260/public/news/Save_the_date.png?itok=rroveaza" width="200" height="260" alt="girls" typeof="Image" class="img-responsive" />


                                                            </div>
                                                            <div class="col-xs-12 col-md-8 col-lg-8"><div class="title">Save the Date: Young Lives School Survey Findings Launch, September 2017</div><div class="views-tab-date">30 May</div></div>
                                                        </div>
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="views-row">
                                            <div class="views-field views-field-nothing">
                                                <span class="field-content">
                                                    <a href="/news/new-ethiopian-centre-child-research-launched">
                                                        <div class="row">
                                                            <div class="col-xs-12 col-md-4 col-lg-4">
                                                                <img src="/sites/www.younglives-ethiopia.org/files/styles/navigation_image_200_260/public/Yisak%2520Tafere_high-res.jpg?itok=eAFxwGo8" width="200" height="260" alt="Yisak Tafere" typeof="Image" class="img-responsive" />


                                                            </div>
                                                            <div class="col-xs-12 col-md-8 col-lg-8"><div class="title">New Ethiopian Centre for Child Research launched</div><div class="views-tab-date">29 May</div></div>
                                                        </div>
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="view-footer">
                                <a class="btn" href="/news-and-events">All News &gt;</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div role="tabpanel" class="col-sm-12 tab-pane" id="tabevents">

                <div class="field field--name-dynamic-block-fieldnode-events-block field--type-ds field--label-hidden field--item">
                    <div class="views-element-container form-group">
                        <div class="view view-list-events view-id-list_events view-display-id-events_block js-view-dom-id-f5b0c1f5c8b8f7c88329398fc8a0740d5f0c6a2b72d4a5f415a11ebb784c1518">


                            <div class="view-header">
                                Events
                            </div>

                            <div class="view-empty">
                                There are currently no upcoming events, please look again later.
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div role="tabpanel" class="col-sm-12 tab-pane" id="tabpublications">

                <div class="field field--name-dynamic-block-fieldnode-publications-block field--type-ds field--label-hidden field--item">
                    <div class="views-element-container form-group">
                        <div class="view view-list-publications view-id-list_publications view-display-id-view_publications_block js-view-dom-id-d287406c5144c95d57fb4dcb0fe5e75f2d820df5f2a8ebf2a972ce68aee0f20c">


                            <div class="view-header">
                                Publications
                            </div>

                            <div class="view-content">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="views-row">
                                            <div class="views-field views-field-nothing">
                                                <span class="field-content">
                                                    <a href="/node/823">
                                                        <div class="row">
                                                            <div class="col-xs-12 col-md-4 col-lg-4"></div>
                                                            <div class="col-xs-12 col-md-8 col-lg-8"><div class="title">Influencing policy on child marriage in India and Ethiopia</div><div class="views-tab-date date">14 Jun</div></div>
                                                        </div>
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="views-row">
                                            <div class="views-field views-field-nothing">
                                                <span class="field-content">
                                                    <a href="/node/822">
                                                        <div class="row">
                                                            <div class="col-xs-12 col-md-4 col-lg-4">
                                                                <img src="/sites/www.younglives-ethiopia.org/files/styles/navigation_image_200_260/public/2018-05/ETHIOPIA-SurveyDesign-Factsheet-Jan18-210mm_0.jpg?itok=ir4qoijK" width="200" height="260" alt="Fact sheet front page" typeof="Image" class="img-responsive" />


                                                            </div>
                                                            <div class="col-xs-12 col-md-8 col-lg-8"><div class="title">Survey Design and Sampling: Round 5 in Ethiopia </div><div class="views-tab-date date">14 May</div></div>
                                                        </div>
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="views-row">
                                            <div class="views-field views-field-nothing">
                                                <span class="field-content">
                                                    <a href="/node/821">
                                                        <div class="row">
                                                            <div class="col-xs-12 col-md-4 col-lg-4">
                                                                <img src="/sites/www.younglives-ethiopia.org/files/styles/navigation_image_200_260/public/2018-05/ETHIOPIA-Youth-Factsheet-Jan18-210mm_0.jpg?itok=nFL2wkX-" width="200" height="260" alt="Fact sheet front page" typeof="Image" class="img-responsive" />


                                                            </div>
                                                            <div class="col-xs-12 col-md-8 col-lg-8"><div class="title">Youth Transitions - Skills, Work and Family Formation: Preliminary Findings from the Round 5 Survey in Ethiopia</div><div class="views-tab-date date">14 May</div></div>
                                                        </div>
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
