@{
    ViewBag.Title = "New Student Attendance";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}
@section scripts{
    <script src="~/Scripts/Views/StudentAttendance/StudentAttendance_New.js" type="text/javascript"></script>
}
<br />
<div class="client card">
    <div class="row-fluid bg-light has-shadow">
        <div class="span12">
            <div class="card">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="~/StudentAttendance/New" style="text-decoration:none;">New</a></li>
                    <li><a href="~/StudentAttendance/List" style="text-decoration:none;">Manage</a></li>
                    <li style="float:right;"><a href="~/Teacher/TeacherIndex" style="text-decoration:none;">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row-fluid bg-light has-shadow" style="text-align:center;">
        <h2 class="no-margin-bottom" style="display: inline; float:left; font-weight:normal;">New Student Attendance</h2>
    </div>
    <br />
    <div class="row-fluid">
        <div class="span8" style="margin-bottom:5px;">
            @Html.Partial("StudentAttendanceForm")
            @Html.Partial("EntityNewButtons")
        </div>
        <div class="span4" style="padding-right:5px;">
            <table class="table table-bordered table-striped table-condensed" id="tblStudent">
                <thead>
                    <tr>
                        <th style="width:10%">
                            Select
                        </th>
                        <th style="width:80%">
                            Student
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2" class="dataTables_empty">
                            Loading data from server
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
